<table class="table table-hover user clickable">
  <thead>
    <tr>
      <th>#</th>       
      <th>Name</th>       
      <th>Program</th>       
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr data-link="/users/<%= user.id %>" data-user-id="<%= user.id %>">
        <th><%= user.id %></th>       
        <th><%= user.name %></th>       
        <th><%= user.program %></th>       
      </tr>
    <% end %>
  </tbody>
</table>

