<div class="well">
  <h3>
    <%= @user.name %>
  </h3>
  <h5>
    <%= @user.program %>
  </h5>
  <%= render "add_course" %>
  <%= render "courses/list" %>

  <%= link_to('Edit User', edit_user_path(@user), :class => 'btn') %>
  <%= link_to('Delete User', user_path(@user), 
              :method => 'delete', 
              :class => 'btn btn-danger',
              :confirm => 'Really?') %>
</div>
