<table class="table table-hover course clickable">
  <thead>
    <tr>
      <th>#</th>       
      <th>Name</th>       
      <th>Note</th>       
    </tr>
  </thead>

  <tbody>
    <% @courses.each do |c| %>
      <tr data-link="/courses/<%= c.id %>" data-course-id="<%= c.id %>">
        <td><%= c.id %></td>       
        <td><%= c.name %></td>       
        <td><%= c.note %></td>       
      </tr>
    <% end %>
  </tbody>
</table>

